<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title | default: site.title }}</title>
  
    <!-- Root favicon -->
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
  
    <!-- Additional favicons -->
    <link rel="icon" href="/assets/icons/favicon/favicon-32x32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="/assets/icons/favicon/favicon-16x16.png" sizes="16x16" type="image/png">
    <link rel="apple-touch-icon" href="/assets/icons/favicon/apple-touch-icon.png">
    <link rel="manifest" href="/assets/icons/favicon/site.webmanifest">
  </head>
  